name: .NES

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: install .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.x
    - name: build
      run: dotnet build -bl:build-debug.binlog && dotnet build -c Release -bl:build-release.binlog
    - name: test
      run: dotnet test --no-build --verbosity normal && dotnet test --no-build --verbosity normal -c Release
    - name: samples
      #TODO: should build samples.sln when all are working
      run: dotnet build samples/hello/hello.csproj -bl:samples-debug.binlog && dotnet build samples/hello/hello.csproj -c Release -bl:samples-release.binlog
    - name: templates
      run: >
        dotnet new --install bin/Release/dotnes.*.nupkg
        cd samples
        mkdir foo && cd foo
        dotnet new nes
        dotnet build -bl:foo-debug.binlog
        dotnet build -c Release -bl:foo-release.binlog
    - name: upload logs
      uses: actions/upload-artifact@v2
      with:
        name: logs
        path: '*.binlog'
        if-no-files-found: error
    - name: upload ROMs
      uses: actions/upload-artifact@v2
      with:
        name: ROMs
        path: |
          samples/*/bin/**/*.nes
          samples/*/bin/**/*.dll
        if-no-files-found: error
    - name: upload nupkgs
      uses: actions/upload-artifact@v2
      with:
        name: nupkgs
        path: |
          bin/Release/*.nupkg
        if-no-files-found: error
