name: .NES

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: install .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: build
      run: dotnet build -bl:build-debug.binlog && dotnet build -c Release -bl:build-release.binlog
    - name: test
      run: dotnet test --no-build --verbosity normal && dotnet test --no-build --verbosity normal -c Release
    - name: samples
      run: dotnet build samples/samples.sln -bl:samples-debug.binlog && dotnet build samples/samples.sln -c Release -bl:samples-release.binlog
    - name: templates
      run: |
        dotnet new install bin/Release/dotnes.templates.*.nupkg && \
        dotnet new nes --output samples/foo && \
        dotnet build samples/foo/foo.csproj -bl:foo-debug.binlog && \
        dotnet build samples/foo/foo.csproj -c Release -bl:foo-release.binlog
    - name: shutdown
      run: dotnet build-server shutdown
    - name: upload logs
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: logs
        path: '*.binlog'
        if-no-files-found: error
    - name: upload ROMs
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: ROMs
        path: |
          samples/*/bin/**/*.nes
          samples/*/bin/**/*.dll
        if-no-files-found: error
    - name: upload nupkgs
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: nupkgs
        path: |
          bin/Release/*.nupkg
        if-no-files-found: error
